# --- Python / Backend ---
# The virtual environment (The 500MB+ folder)
yolov11+cnn/venv/
venv/
.venv/
env/
*.pt
*.pth
*.onnx
*.weights
*.mp4

# Python Cache
**/__pycache__/
*.py[cod]
*$py.class

# Large AI Models & Weights
*.pt
*.pth
*.onnx
*.weights
yolov11+cnn/*.pt

# --- Node / Frontend ---
# Dependencies (The 300MB+ folder)
node_modules/
.pnpm-store/

# Production build
dist/
build/

# --- Environment & Logs ---
.env
.env.local
*.log
.DS_Store